<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="/app.min.css">

  </head>

  <body>
    <h1>Short Lee</h1>
    <%- body %>
  </body>
</html>
